@charset "UTF-8";

.searchAutomatic {
    display: none;
    flex-direction: column;
    row-gap: 10px;
    
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
    transition: width 2s ease;
}

div.hidden {display: none;}

.show {
    display: flex;
    transition: display 2s ease;
    width: 60%;
}

.searchAutomatic input, select {
    height: 25px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #00000080;
    outline: 0;
}
.searchAutomatic input[type="button"] {
    height: 35px;
    width: 85px;
    cursor: pointer;
    transition-duration: .5s;
}

#startSearch, #clearList {
    margin-bottom: 10px;
}

.searchAutomatic input[type="button"]:hover {
    background-color: var(--cor-azulTerciaria);
    transition-duration: .5s;
}

span {
    font-size: smaller;
    color: #c72626;
}

li {
    display: flex;
    justify-content: center;
    border: 1px solid ;
    border-radius: 5px;
    list-style-type: none;
    max-width: 450px;
    padding: 5px;
    margin-bottom: 10px;
}

progress {
    width: 350px;
    height: 15px;
    border: 1px solid;
}

::-webkit-progress-value {
    background: -webkit-linear-gradient(left, #c0cad6 0%, #1c274c 100%);
    }